body {
    position: relative;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Arial', 'Helvetica',sans-serif;
}

.strip-dropdown-item:hover {
    background-color: rgba(0, 123, 255, 0.1)!important;
    font-weight: bold;
}

.strip-tag:hover {
    background-color: rgba(255, 0, 0, 0.3)!important;
    color: red!important;
}

.delete-button {
    transition: all 0.3s ease;
}

.delete-button:hover {
    background-color: rgb(220, 53, 69)!important;
    border-color: rgb(220, 53, 69)!important;
    color: white!important;
}

.graph-container > div{
    flex: 1;
}

.graph .main-svg {
    background-color: transparent!important;
}

.modebar-group {
    background-color: transparent!important;
}
