.muted {
    color: var(--color-muted);
}

.small-text {
    font-size: var(--font-size-small);
}

.medium-text {
    font-size: var(--font-size-normal);
}

.large-text {
    font-size: var(--font-size-large);
}